# IMDB user data EDA and cleaning

## Setup

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
path = 'data/IMDB'

movies_raw = pd.read_csv(f'{path}/movies_data.csv')
user_rating_raw = pd.read_csv(f'{path}/user_rating.csv')

## Inspection

### Movies

In [3]:
movies_raw.head()

,title,img_url,year,director,stars,duration,genres,overview,rating,num_rating,num_user_review,num_critic_review,budget,gross,country,metascore,oscar,win_and_nomination,url
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,Francis Ford Coppola,"Marlon Brando,Al Pacino,James Caan,Marlon Bran...",2h 55m,"Crime,Drama","Don Vito Corleone, head of a mafia family, dec...",9.2,2M,5.3K,206.0,"$6,000,000 (estimated)","$250,341,816",United States,100.0,Won 3 Oscars,30 wins & 31 nominations total,https://www.imdb.com/title/tt0068646/?ref_=adv...
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,2014,Christopher Nolan,"Matthew McConaughey,Anne Hathaway,Jessica Chas...",2h 49m,"Adventure,Drama,Sci-Fi",When Earth becomes uninhabitable in the future...,8.7,2M,5.5K,486.0,"$165,000,000 (estimated)","$703,170,837",United States,74.0,Won 1 Oscar,44 wins & 148 nominations total,https://www.imdb.com/title/tt0816692/?ref_=adv...
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,2022,Danny Philippou,"Ari McCarthy,Hamish Phillips,Kit Erhart-Bruce,...",1h 35m,"Horror,Thriller",When a group of friends discover how to conjur...,7.2,81K,485,251.0,"$4,500,000 (estimated)","$90,030,033",Australia,76.0,NaN,NaN,https://www.imdb.com/title/tt10638522/?ref_=ad...
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing...",1h 44m,"Comedy,Drama,Fantasy","Two witch sisters, raised by their eccentric a...",6.3,90K,313,81.0,"$75,000,000 (estimated)","$46,733,235",United States,46.0,Awards,1 win & 6 nominations,https://www.imdb.com/title/tt0120791/?ref_=adv...
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,2015,Gaspar Noé,"Aomi Muyock,Karl Glusman,Klara Kristin,Aomi Mu...",2h 15m,"Drama,Romance",Murphy is an American living in Paris who ente...,6.1,64K,177,200.0,"$3,000,000 (estimated)","$861,057",France,51.0,Awards,2 wins & 1 nomination,https://www.imdb.com/title/tt3774694/?ref_=adv...

In [4]:
movies_raw.shape

(222169, 19)

In [5]:
movie_num = len(movies_raw)
len(movies_raw[movies_raw.isnull().any(axis=1)])

221199

In [6]:
movies_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222169 entries, 0 to 222168
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   title               222169 non-null  object
 1   img_url             222169 non-null  object
 2   year                222169 non-null  object
 3   director            206284 non-null  object
 4   stars               191677 non-null  object
 5   duration            145469 non-null  object
 6   genres              180838 non-null  object
 7   overview            116945 non-null  object
 8   rating              98497 non-null   float64
 9   num_rating          98497 non-null   object
 10  num_user_review     53422 non-null   object
 11  num_critic_review   20743 non-null   float64
 12  budget              39387 non-null   object
 13  gross               13026 non-null   object
 14  country             217128 non-null  object
 15  metascore           2080 non-null    float64
 16  oscar               30172 non-null   object
 17  win_and_nomination  30173 non-null   object
 18  url                 222169 non-null  object
dtypes: float64(3), object(16)
memory usage: 32.2+ MB

In [7]:
movies_raw.describe()

             rating  num_critic_review    metascore
count  98497.000000       20743.000000  2080.000000
mean       6.048774          16.386299    58.651442
std        1.392288          51.851902    18.727564
min        1.000000           1.000000     1.000000
25%        5.200000           1.000000    46.000000
50%        6.100000           3.000000    59.000000
75%        7.000000           9.000000    72.000000
max       10.000000         848.000000   100.000000

In [8]:
movies_raw.title.value_counts()

Broken                               28
Macbeth                              20
Alone                                18
Karma                                18
Retribution                          17
                                     ..
Podslushannyy razgovor                1
OL Wakazuma jokôsei: Renzoku bôkô     1
Bangarada Gudi                        1
Dianfeng zhanshi                      1
The Dark Knight                       1
Name: title, Length: 207443, dtype: int64

In [9]:
movies_raw.title.isnull().sum() / movie_num * 100

0.0

In [10]:
movies_raw.img_url.value_counts()

https://m.media-amazon.com/images/G/01/imdb/images/social/imdb_logo.png                                                                       72187
https://m.media-amazon.com/images/M/MV5BZDViMjUzMDctN2NhNS00NmZlLTg3OTQtZjIxNjMyNDlkMzdjXkEyXkFqcGdeQXVyMTk1MjA1NjU@._V1_FMjpg_UX1000_.jpg        5
https://m.media-amazon.com/images/M/MV5BMTI0MzE2NzQ3Nl5BMl5BanBnXkFtZTcwODg4NzQzMQ@@._V1_FMjpg_UX1000_.jpg                                        4
https://m.media-amazon.com/images/M/MV5BNWM0ZDkwNjQtM2FiOS00OTllLTk2ZTEtZDJkNDhhNjUxYWZjXkEyXkFqcGdeQXVyNjUzNzQ4NDQ@._V1_FMjpg_UX1000_.jpg        3
https://m.media-amazon.com/images/M/MV5BNDI5YWU2YjAtOTYwZC00ZjYzLWIzNDYtNTcxMzVkODY3YzVlXkEyXkFqcGdeQXVyMTQwMzQ1MA@@._V1_FMjpg_UX1000_.jpg        3
                                                                                                                                              ...
https://m.media-amazon.com/images/M/MV5BNDcyN2E1NmQtZjg1MS00NWU2LWJkNGYtYzBlOTBjM2VmNDMzXkEyXkFqcGdeQXVyNDcyNjc5MzY@._V1_FMjpg_UX1000_.jpg        1
https://m.media-amazon.com/images/M/MV5BYjMwOGI0MjgtNWM4My00Mzg1LWE3MjctY2MxZWU1YTI4NGYxXkEyXkFqcGdeQXVyMTI5Njk4Mzg2._V1_FMjpg_UX1000_.jpg        1
https://m.media-amazon.com/images/M/MV5BNTU4NmI5ZGMtMjZlNy00ODY5LWJjOWQtOTVkZTA0NDQ3YWJlXkEyXkFqcGdeQXVyODY5NDAxNzA@._V1_FMjpg_UX1000_.jpg        1
https://m.media-amazon.com/images/M/MV5BMWU0OWY1Y2MtYjY0Ny00Nzg1LWIzN2QtYjM3ZGJiZWVmM2FkXkEyXkFqcGdeQXVyMjU4OTI3OA@@._V1_FMjpg_UX1000_.jpg        1
https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_FMjpg_UX1000_.jpg                                        1
Name: img_url, Length: 149935, dtype: int64

In [11]:
movies_raw.img_url.isnull().sum() / movie_num * 100

0.0

In [12]:
movies_raw.year.value_counts()

2018      5721
2022      5679
2016      5679
2017      5633
2021      5246
          ...
1979.0       1
1984.0       1
1962.0       1
1977.0       1
1936         1
Name: year, Length: 216, dtype: int64

In [13]:
movies_raw.year.isnull().sum() / movie_num * 100

0.0

In [14]:
movies_raw.director.value_counts()

Kinya Ogawa            427
Satoru Kobayashi       370
Minoru Inao            336
Sakae Nitta            235
Kaoru Umezawa          209
                      ...
Hideto Mori              1
Anthony Salgado          1
Steve Echendu            1
Gennadiy Ostrovskiy      1
T.J. Gnanavel            1
Name: director, Length: 98094, dtype: int64

In [15]:
movies_raw.director.isnull().sum() / movie_num * 100

7.1499624159986315

In [16]:
movies_raw.stars.value_counts()

Bill Corbett,Kevin Murphy,Michael J. Nelson,Bill Corbett,Kevin Murphy,Michael J. Nelson              148
Tito Sotto,Vic Sotto,Joey De Leon,Tito Sotto,Vic Sotto,Joey De Leon                                   26
Bahadur,Adoor Bhasi,Jayabharathi,Bahadur,Adoor Bhasi,Jayabharathi                                     24
Michael J. Nelson,Bill Corbett,Kevin Murphy,Michael J. Nelson,Bill Corbett,Kevin Murphy               23
Bridget Jones,Mary Jo Pehl,Bridget Jones,Mary Jo Pehl                                                 22
                                                                                                    ...
Mugaya Faisal,Allan King Jr.,Moreen Logose,Mugaya Faisal,Allan King Jr.,Moreen Logose                  1
Vishal Deep,Jayendra,Varsha Sharma,Vishal Deep,Jayendra,Varsha Sharma                                  1
Sibelle Hu,Fu-Chien Chang,Ah-Lang,Sibelle Hu,Fu-Chien Chang,Ah-Lang                                    1
Tanushree Chatterjee,Poonam Dubey,Awdhesh Mishra,Tanushree Chatterjee,Poonam Dubey,Awdhesh Mishra      1
Christian Bale,Heath Ledger,Aaron Eckhart,Christian Bale,Heath Ledger,Aaron Eckhart                    1
Name: stars, Length: 188678, dtype: int64

In [17]:
movies_raw.stars.isnull().sum() / movie_num * 100

13.72468706255148

In [18]:
movies_raw.duration.value_counts()

1h 30m    11669
1h 20m     4526
1h 25m     4470
1h 40m     4342
1h 35m     4192
          ...
7h 15m        1
7h 40m        1
4h 43m        1
5h 7m         1
4h 29m        1
Name: duration, Length: 385, dtype: int64

In [19]:
movies_raw.duration.isnull().sum() / movie_num * 100

34.5232683227633

In [20]:
movies_raw.genres.value_counts()

Drama                         56992
Comedy                        19954
Action                         7716
Horror                         5514
Drama,Romance                  5082
                              ...
Fantasy,Family,Action             1
Animation,Mystery,Thriller        1
Comedy,Crime,Action               1
History,Horror,Mystery            1
Drama,Film-Noir                   1
Name: genres, Length: 1306, dtype: int64

In [21]:
movies_raw.genres.isnull().sum() / movie_num * 100

18.60340551562099

In [22]:
movies_raw.overview.value_counts()

Plot unknown.                                                                                                                                                                                                                                                                                                                                                                            9
THIS IS AN ACTION-DRAMA FILM.                                                                                                                                                                                                                                                                                                                                                            8
THIS IS AN ACTION FILM.                                                                                                                                                                                                                                                                                                                                                                  7
FOR ADULTS ONLY.                                                                                                                                                                                                                                                                                                                                                                         6
THIS IS A SEX-DRAMA FILM.                                                                                                                                                                                                                                                                                                                                                                6
                                                                                                                                                                                                                                                                                                                                                                                        ..
When a gang of thugs shoot up the neighborhood a young mother makes a decision that will change their lives forever.....inspired by actual events.                                                                                                                                                                                                                                       1
Hear the story of Rumi and his transformation from a scholar and teacher to a mystic and Sufi poet after his encounter with Shams of Tabriz. In a guided meditation, connect with the Beloved as you dance with Tumi and the whirling dervishes. When viewing this DVD, you become part of the Sacred Circle as Diana gives psychic messages and wise guidance for unleashing grea...    1
Holmes experts around the world got together to present and debate on what the current productions of the Holmes name contributed to the Legacy of Sherlock Holmes.                                                                                                                                                                                                                      1
Marty Valdini is an ex-magician, heroin junkie, that cons money out of business owners and other magicians in order to compliment his habit. Filmed in a 1960's-type style and setting, with period appropriate attire and set design, MOJ is a step back into a dark time.                                                                                                              1
When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.                                                                                                                                                                                            1
Name: overview, Length: 116702, dtype: int64

In [23]:
movies_raw.overview.isnull().sum() / movie_num * 100

47.36214323330438

In [24]:
movies_raw.rating.value_counts()

6.2     3400
6.4     3195
6.6     3140
6.8     3096
6.0     3054
        ...
9.7       30
1.0       20
1.1       18
10.0      11
9.9        9
Name: rating, Length: 91, dtype: int64

In [25]:
movies_raw.rating.isnull().sum() / movie_num * 100

55.6657319428003

In [26]:
movies_raw.num_rating.value_counts()

9       3502
10      3452
8       3438
11      3262
12      3077
        ...
740K       1
138K       1
557K       1
848        1
1.9M       1
Name: num_rating, Length: 1467, dtype: int64

In [27]:
movies_raw.num_rating.isnull().sum() / movie_num * 100

55.6657319428003

In [28]:
movies_raw.num_user_review.value_counts()

1.0     15000
1       11496
2        5032
2.0      3801
3        2735
        ...
564         1
181         1
245         1
449         1
8.5K        1
Name: num_user_review, Length: 620, dtype: int64

In [29]:
movies_raw.num_user_review.isnull().sum() / movie_num * 100

75.954341064685

In [30]:
movies_raw.num_critic_review.value_counts()

1.0      5755
2.0      3111
3.0      1937
4.0      1434
5.0      1037
         ...
675.0       1
264.0       1
749.0       1
304.0       1
379.0       1
Name: num_critic_review, Length: 404, dtype: int64

In [31]:
movies_raw.num_critic_review.isnull().sum() / movie_num * 100

90.66341388762609

In [32]:
movies_raw.budget.value_counts()

$10,000 (estimated)          1786
$5,000 (estimated)           1113
$100,000 (estimated)         1078
$50,000 (estimated)           920
$20,000 (estimated)           788
                             ...
DKK 2,500 (estimated)           1
BTN 1,000,000 (estimated)       1
€4,350 (estimated)              1
A$25 (estimated)                1
$185,000,000 (estimated)        1
Name: budget, Length: 5657, dtype: int64

In [33]:
movies_raw.budget.isnull().sum() / movie_num * 100

82.27160404916978

In [34]:
movies_raw.gross.value_counts()

$4,198            4
$2,963            4
$7,634            4
$681              3
$2,506            3
                 ..
$442,481          1
$1,252,355        1
$1,730,110        1
$197,117          1
$1,007,257,536    1
Name: gross, Length: 12567, dtype: int64

In [35]:
movies_raw.gross.isnull().sum() / movie_num * 100

94.13689578654088

In [36]:
movies_raw.country.value_counts()

United States                       42350
India                               28402
Japan                               17760
United Kingdom                       7335
Philippines                          6366
                                    ...
Saint Vincent and the Grenadines        1
Martinique                              1
New Caledonia                           1
Seychelles                              1
Kiribati                                1
Name: country, Length: 219, dtype: int64

In [37]:
movies_raw.country.isnull().sum() / movie_num * 100

2.2689934239250302

In [38]:
movies_raw.metascore.value_counts()

52.0    53
54.0    51
66.0    48
68.0    47
55.0    47
        ..
9.0      2
13.0     2
6.0      1
12.0     1
10.0     1
Name: metascore, Length: 95, dtype: int64

In [39]:
movies_raw.metascore.isnull().sum() / movie_num * 100

99.06377577429795

In [40]:
movies_raw.oscar.value_counts()

Awards                             29634
Nominated for 1 Oscar                145
Won 1 Oscar                           70
Nominated for 1 BAFTA Award           61
Nominated for 2 Oscars                44
Won 2 Oscars                          37
Won 1 BAFTA Award                     30
Won 3 Oscars                          22
Nominated for 3 Oscars                19
Nominated for 4 Oscars                17
Won 4 Oscars                          16
Won 5 Oscars                          11
Won 7 Oscars                           8
Nominated for 2 BAFTA Awards           8
Nominated for 5 Oscars                 6
Nominated for 7 Oscars                 5
Nominated for 6 Oscars                 5
Won 6 Oscars                           5
Nominated for 4 BAFTA Awards           4
Nominated for 1 Primetime Emmy         4
Won 8 Oscars                           3
Won 2 BAFTA Awards                     3
Won 1 Primetime Emmy                   3
Won 3 BAFTA Awards                     2
Won 11 Oscars                          2
Nominated for 5 BAFTA Awards           1
Nominated for 8 Oscars                 1
Won 10 Oscars                          1
Nominated for 2 Primetime Emmys        1
Won 9 Oscars                           1
Nominated for 6 Primetime Emmys        1
Nominated for 3 BAFTA Awards           1
Won 2 Primetime Emmys                  1
Name: oscar, dtype: int64

In [41]:
movies_raw.oscar.isnull().sum() / movie_num * 100

86.41934743371037

In [42]:
movies_raw.win_and_nomination.value_counts()

1 nomination                        6132
1 win                               5987
1 win & 1 nomination                1841
2 wins                              1732
2 nominations                       1685
                                    ...
18 wins & 36 nominations               1
22 wins & 41 nominations               1
26 wins & 16 nominations               1
21 wins & 27 nominations               1
162 wins & 164 nominations total       1
Name: win_and_nomination, Length: 1053, dtype: int64

In [43]:
movies_raw.win_and_nomination.isnull().sum() / movie_num * 100

86.41889732590955

In [44]:
movies_raw.url.value_counts()

https://www.imdb.com/title/tt0096283/?ref_=adv_li_tt     2
https://www.imdb.com/title/tt0068646/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt1582505/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt9430740/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt11291244/?ref_=adv_li_tt    1
                                                        ..
https://www.imdb.com/title/tt26628653/?ref_=adv_li_tt    1
https://www.imdb.com/title/tt0185310/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt0331884/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt0312453/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt0468569/?ref_=adv_li_tt     1
Name: url, Length: 222168, dtype: int64

In [45]:
movies_raw.url.isnull().sum() / movie_num * 100

0.0

### Users

In [46]:
user_rating_raw.head()

      user_id   movie_id  rating
0   ur2326544  tt0377092       9
1  ur34845698  tt0377092       7
2  ur61691810  tt0377092       8
3   ur3032446  tt0377092       8
4   ur1406078  tt0377092       7

In [47]:
user_rating_raw.shape

(996961, 3)

In [48]:
len(user_rating_raw[user_rating_raw.isnull().any(axis=1)])

0

In [49]:
user_rating_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996961 entries, 0 to 996960
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   996961 non-null  object
 1   movie_id  996961 non-null  object
 2   rating    996961 non-null  int64
dtypes: int64(1), object(2)
memory usage: 22.8+ MB

In [50]:
user_rating_raw.describe()

              rating
count  996961.000000
mean        6.472424
std         2.890230
min         1.000000
25%         4.000000
50%         7.000000
75%         9.000000
max        10.000000

In [51]:
user_rating_raw.user_id.value_counts()

ur0482513      8586
ur77881167     5857
ur2898520      5510
ur5876717      5293
ur2488512      4930
               ...
ur123961992       1
ur17573055        1
ur2368127         1
ur5826614         1
ur31053161        1
Name: user_id, Length: 351731, dtype: int64

In [52]:
user_rating_raw.user_id.isnull().sum(), len(user_rating_raw.user_id.unique())

(0, 351731)

In [53]:
user_rating_raw.movie_id.value_counts()

tt2537176     37
tt0059448     36
tt0061720     36
tt0219854     36
tt10168670    35
              ..
tt0808312      1
tt6159738      1
tt0160237      1
tt0473401      1
tt0100794      1
Name: movie_id, Length: 120676, dtype: int64

In [54]:
user_rating_raw.movie_id.isnull().sum(), len(user_rating_raw.movie_id.unique())

(0, 120676)

In [55]:
user_rating_raw.rating.value_counts()

10    180468
8     152993
7     135101
9     107653
1      96433
6      96411
5      71620
4      56013
3      51957
2      48312
Name: rating, dtype: int64

In [56]:
user_rating_raw.rating.isnull().sum(), len(user_rating_raw.rating.unique())

(0, 10)

## Cleaning

In [57]:
movies = movies_raw[['title', 'img_url', 'rating', 'url']]
movies.head()

,title,img_url,rating,url
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...

In [58]:
movies['id'] = movies_raw.url.apply(lambda x: x.split('/')[4])
movies.head()

,title,img_url,rating,url,id
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694

In [59]:
movies['year'] = movies_raw.year.astype('str').str.strip('.0')
movies.head()

,title,img_url,rating,url,id,year
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015

In [60]:
movies[~movies.year.apply(lambda x: x.isnumeric())].year

11920            R
130078     Unrated
143404           G
152836       TV-PG
163883    Approved
196737     Unrated
Name: year, dtype: object

In [61]:
movies.year = pd.to_numeric(movies.year, errors='coerce')
movies.year = movies.year.fillna(movies.year.mode()[0])
movies.year = movies.year.astype('int')
movies.year

0         1972
1         2014
2         2022
3         1998
4         2015
          ...
222164    1974
222165    1957
222166    2003
222167    1993
222168    2008
Name: year, Length: 222169, dtype: int32

In [62]:
movies['director'] = movies_raw.director.fillna('Unknown')
movies.head()

,title,img_url,rating,url,id,year,director
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé

In [63]:
movies['stars'] = movies_raw.stars.fillna('No info')
movies.stars = movies.stars.apply(lambda x: ','.join(set(x.split(','))))
movies.stars

0                        Marlon Brando,James Caan,Al Pacino
1         Jessica Chastain,Matthew McConaughey,Anne Hath...
2             Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce
3            Sandra Bullock,Nicole Kidman,Stockard Channing
4                    Klara Kristin,Aomi Muyock,Karl Glusman
                                ...
222164               Robert Duvall,Robert De Niro,Al Pacino
222165                Henry Fonda,Martin Balsam,Lee J. Cobb
222166             Ian McKellen,Elijah Wood,Viggo Mortensen
222167               Ben Kingsley,Ralph Fiennes,Liam Neeson
222168            Heath Ledger,Christian Bale,Aaron Eckhart
Name: stars, Length: 222169, dtype: object

In [64]:
def convert_runtime(x):
    if x is np.nan:
        return x
    
    vals = x.split()
    time = 0
    for t in vals:
        if t[-1] == 'h':
            time += int(t[:-1]) * 60
        elif t[-1] == 'm':
            time += int(t[:-1])
    
    return time

In [65]:
movies['duration_mins'] = movies_raw.duration.apply(convert_runtime)
movies.head()

,title,img_url,rating,url,id,year,director,stars,duration_mins
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola,"Marlon Brando,James Caan,Al Pacino",175.0
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan,"Jessica Chastain,Matthew McConaughey,Anne Hath...",169.0
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou,"Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce",95.0
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing",104.0
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé,"Klara Kristin,Aomi Muyock,Karl Glusman",135.0

In [66]:
movies['genres'] = movies_raw.genres.fillna('undefined')
movies.head()

,title,img_url,rating,url,id,year,director,stars,duration_mins,genres
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola,"Marlon Brando,James Caan,Al Pacino",175.0,"Crime,Drama"
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan,"Jessica Chastain,Matthew McConaughey,Anne Hath...",169.0,"Adventure,Drama,Sci-Fi"
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou,"Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce",95.0,"Horror,Thriller"
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing",104.0,"Comedy,Drama,Fantasy"
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé,"Klara Kristin,Aomi Muyock,Karl Glusman",135.0,"Drama,Romance"

In [67]:
movies['overview'] = movies_raw.overview.fillna('No info')
movies.head()

,title,img_url,rating,url,id,year,director,stars,duration_mins,genres,overview
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola,"Marlon Brando,James Caan,Al Pacino",175.0,"Crime,Drama","Don Vito Corleone, head of a mafia family, dec..."
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan,"Jessica Chastain,Matthew McConaughey,Anne Hath...",169.0,"Adventure,Drama,Sci-Fi",When Earth becomes uninhabitable in the future...
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou,"Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce",95.0,"Horror,Thriller",When a group of friends discover how to conjur...
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing",104.0,"Comedy,Drama,Fantasy","Two witch sisters, raised by their eccentric a..."
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé,"Klara Kristin,Aomi Muyock,Karl Glusman",135.0,"Drama,Romance",Murphy is an American living in Paris who ente...

In [79]:
movies[['num_rating', 'num_user_review']] = movies_raw[['num_rating', 'num_user_review']].fillna('0').astype('str')
movies.head()

,title,img_url,rating,url,id,year,director,stars,duration_mins,genres,overview,num_rating,num_user_review,country
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola,"Marlon Brando,James Caan,Al Pacino",175.0,"Crime,Drama","Don Vito Corleone, head of a mafia family, dec...",2M,5.3K,United States
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan,"Jessica Chastain,Matthew McConaughey,Anne Hath...",169.0,"Adventure,Drama,Sci-Fi",When Earth becomes uninhabitable in the future...,2M,5.5K,United States
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou,"Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce",95.0,"Horror,Thriller",When a group of friends discover how to conjur...,81K,485,Australia
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing",104.0,"Comedy,Drama,Fantasy","Two witch sisters, raised by their eccentric a...",90K,313,United States
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé,"Klara Kristin,Aomi Muyock,Karl Glusman",135.0,"Drama,Romance",Murphy is an American living in Paris who ente...,64K,177,France

In [80]:
def convert_numeric(x):
    if x[-1] == 'M':
        return float(x[:-1]) * 1000000
    elif x[-1] == 'K':
        return float(x[:-1]) * 1000
    else:   
        return float(x)

In [81]:
movies.num_rating = movies.num_rating.apply(convert_numeric).astype('int')
movies.num_user_review = movies.num_user_review.apply(convert_numeric).astype('int')
movies.head()

,title,img_url,rating,url,id,year,director,stars,duration_mins,genres,overview,num_rating,num_user_review,country
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola,"Marlon Brando,James Caan,Al Pacino",175.0,"Crime,Drama","Don Vito Corleone, head of a mafia family, dec...",2000000,5300,United States
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan,"Jessica Chastain,Matthew McConaughey,Anne Hath...",169.0,"Adventure,Drama,Sci-Fi",When Earth becomes uninhabitable in the future...,2000000,5500,United States
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou,"Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce",95.0,"Horror,Thriller",When a group of friends discover how to conjur...,81000,485,Australia
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing",104.0,"Comedy,Drama,Fantasy","Two witch sisters, raised by their eccentric a...",90000,313,United States
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé,"Klara Kristin,Aomi Muyock,Karl Glusman",135.0,"Drama,Romance",Murphy is an American living in Paris who ente...,64000,177,France

In [77]:
movies['country'] = movies_raw.country.fillna('Unknown')
movies.head()

,title,img_url,rating,url,id,year,director,stars,duration_mins,genres,overview,num_rating,num_user_review,country
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola,"Marlon Brando,James Caan,Al Pacino",175.0,"Crime,Drama","Don Vito Corleone, head of a mafia family, dec...",2000000,5300,United States
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan,"Jessica Chastain,Matthew McConaughey,Anne Hath...",169.0,"Adventure,Drama,Sci-Fi",When Earth becomes uninhabitable in the future...,2000000,5500,United States
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou,"Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce",95.0,"Horror,Thriller",When a group of friends discover how to conjur...,81000,485,Australia
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing",104.0,"Comedy,Drama,Fantasy","Two witch sisters, raised by their eccentric a...",90000,313,United States
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé,"Klara Kristin,Aomi Muyock,Karl Glusman",135.0,"Drama,Romance",Murphy is an American living in Paris who ente...,64000,177,France

In [82]:
movies[movies['url'] == 'https://www.imdb.com/title/tt0096283/?ref_=adv_li_tt']

,title,img_url,rating,url,id,year,director,stars,duration_mins,genres,overview,num_rating,num_user_review,country
151,My Neighbor Totoro,https://m.media-amazon.com/images/M/MV5BYzJjMT...,8.1,https://www.imdb.com/title/tt0096283/?ref_=adv...,tt0096283,1988,Hayao Miyazaki,"Chika Sakamoto,Noriko Hidaka,Hitoshi Takagi",86.0,"Animation,Comedy,Family",When two girls move to the country to be near ...,363000,584,Japan
221989,My Neighbor Totoro,https://m.media-amazon.com/images/M/MV5BYzJjMT...,8.1,https://www.imdb.com/title/tt0096283/?ref_=adv...,tt0096283,1988,Hayao Miyazaki,"Chika Sakamoto,Noriko Hidaka,Hitoshi Takagi",86.0,"Animation,Comedy,Family",When two girls move to the country to be near ...,364000,584,Japan

In [83]:
movies = movies.drop_duplicates(subset=['id'], keep='last')
movies

,title,img_url,rating,url,id,year,director,stars,duration_mins,genres,overview,num_rating,num_user_review,country
0,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,9.2,https://www.imdb.com/title/tt0068646/?ref_=adv...,tt0068646,1972,Francis Ford Coppola,"Marlon Brando,James Caan,Al Pacino",175.0,"Crime,Drama","Don Vito Corleone, head of a mafia family, dec...",2000000,5300,United States
1,Interstellar,https://m.media-amazon.com/images/M/MV5BZjdkOT...,8.7,https://www.imdb.com/title/tt0816692/?ref_=adv...,tt0816692,2014,Christopher Nolan,"Jessica Chastain,Matthew McConaughey,Anne Hath...",169.0,"Adventure,Drama,Sci-Fi",When Earth becomes uninhabitable in the future...,2000000,5500,United States
2,Talk to Me,https://m.media-amazon.com/images/M/MV5BMmY5ZG...,7.2,https://www.imdb.com/title/tt10638522/?ref_=ad...,tt10638522,2022,Danny Philippou,"Hamish Phillips,Ari McCarthy,Kit Erhart-Bruce",95.0,"Horror,Thriller",When a group of friends discover how to conjur...,81000,485,Australia
3,Practical Magic,https://m.media-amazon.com/images/M/MV5BMzU4Mm...,6.3,https://www.imdb.com/title/tt0120791/?ref_=adv...,tt0120791,1998,Griffin Dunne,"Sandra Bullock,Nicole Kidman,Stockard Channing",104.0,"Comedy,Drama,Fantasy","Two witch sisters, raised by their eccentric a...",90000,313,United States
4,Love,https://m.media-amazon.com/images/M/MV5BZGQxZT...,6.1,https://www.imdb.com/title/tt3774694/?ref_=adv...,tt3774694,2015,Gaspar Noé,"Klara Kristin,Aomi Muyock,Karl Glusman",135.0,"Drama,Romance",Murphy is an American living in Paris who ente...,64000,177,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222164,The Godfather Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,9.0,https://www.imdb.com/title/tt0071562/?ref_=adv...,tt0071562,1974,Francis Ford Coppola,"Robert Duvall,Robert De Niro,Al Pacino",202.0,"Crime,Drama",The early life and career of Vito Corleone in ...,1300000,1300,United States
222165,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,9.0,https://www.imdb.com/title/tt0050083/?ref_=adv...,tt0050083,1957,Sidney Lumet,"Henry Fonda,Martin Balsam,Lee J. Cobb",96.0,"Crime,Drama",The jury in a New York City murder trial is fr...,837000,2100,United States
222166,The Lord of the Rings: The Return of the King,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,9.0,https://www.imdb.com/title/tt0167260/?ref_=adv...,tt0167260,2003,Peter Jackson,"Ian McKellen,Elijah Wood,Viggo Mortensen",201.0,"Action,Adventure,Drama",Gandalf and Aragorn lead the World of Men agai...,1900000,4100,New Zealand
222167,Schindler's List,https://m.media-amazon.com/images/M/MV5BNDE4OT...,9.0,https://www.imdb.com/title/tt0108052/?ref_=adv...,tt0108052,1993,Steven Spielberg,"Ben Kingsley,Ralph Fiennes,Liam Neeson",195.0,"Biography,Drama,History","In German-occupied Poland during World War II,...",1400000,2200,United States
222168,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,9.0,https://www.imdb.com/title/tt0468569/?ref_=adv...,tt0468569,2008,Christopher Nolan,"Heath Ledger,Christian Bale,Aaron Eckhart",152.0,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,2800000,8500,United States

In [84]:
movie_num = len(movies)
len(movies[movies.isnull().any(axis=1)])

139315

In [85]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 222156 entries, 0 to 222168
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   title            222156 non-null  object
 1   img_url          222156 non-null  object
 2   rating           98484 non-null   float64
 3   url              222156 non-null  object
 4   id               222156 non-null  object
 5   year             222156 non-null  int32
 6   director         222156 non-null  object
 7   stars            222156 non-null  object
 8   duration_mins    145456 non-null  float64
 9   genres           222156 non-null  object
 10  overview         222156 non-null  object
 11  num_rating       222156 non-null  int32
 12  num_user_review  222156 non-null  int32
 13  country          222156 non-null  object
dtypes: float64(2), int32(3), object(9)
memory usage: 22.9+ MB

In [87]:
movies.describe()

,rating,year,duration_mins,num_rating,num_user_review
count,98484.000000,222156.000000,145456.00000,2.221560e+05,222156.000000
mean,6.048577,1798.450382,91.42177,1.267880e+03,4.274996
std,1.392254,570.540090,38.83466,3.177222e+04,84.319348
min,1.000000,2.000000,1.00000,0.000000e+00,0.000000
25%,5.200000,1975.000000,77.00000,0.000000e+00,0.000000
50%,6.100000,2001.000000,90.00000,0.000000e+00,0.000000
75%,7.000000,2014.000000,101.00000,2.300000e+01,0.000000
max,10.000000,2023.000000,7200.00000,2.800000e+06,11400.000000

In [ ]:
movies.to_csv('movies_cleaned.csv')